{% extends "app/layout.html" %}

<!-- CONTENIDO -->
{% block content %}

<h2>{{ titulo }}</h2>

<div class="container-fluid">
        <!-- Nueva Queja -->
        {% if actor == 'Ciudadano' %}
        <div class="col-md-5 toppad pull-right col-md-offset-3 ">
            <a href="{% url 'nuevaQueja' %}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp; Nueva Queja</a>
        </div>
        {% endif %}

        <hr/>

        <!-- TABLA -->
        <div class="table-responsive">
            <table class="table table-striped table-hover custab">            
                <thead>
                    <tr>
                        <th>Publicaci&#243;n</th>
                        <th style="width:10%;">Categor&#237;a</th>
                        <th class="text-center">Estado</th>
                        <th>Nombre</th>
                        <th style="width:10%;">Descripci&#243;n</th>
                        {% if actor == 'Administrador' or actor == 'Funcionario' %}
                        <th style="width:10%;">Categorizaci&#243;n</th>
                        {% endif %}
                        <th class="text-center"></th> 
                    </tr>
                </thead>
                <tbody>
                    {% for queja in quejas %}
                    <tr>
                        <td class="text-center">{{ queja.fecha | date:'d/m/Y (H:i)' }}</td>
                        <td class="text-center">
                            <img alt="{{ queja.categoriaManual.nombre }}" src="{{ queja.categoriaManual.imagen }}" class="img-rounded img-responsive">
                            <span style="font-size: 75%;">{{ queja.categoriaManual.nombre }}</span>
                        </td>
                        <td class="text-center">
                            {% if queja.estado == 'Abierta' %}
                                <span class="label label-medium label-success">{{ queja.estado | upper }}</span>
                            {% else %}
                                <span class="label label-danger">{{ queja.estado | upper }}</span>
                            {% endif %}
                        </td>
                        <td>{{ queja.titulo }}</td>
                        <td width="40%">{{ queja.cuerpo | truncatewords:30 }}</td>
                        {% if actor == 'Administrador' or actor == 'Funcionario' %}
                            <td class="text-center">
                                <img alt="{{ queja.categoriaAutomatica.nombre }}" src="{{ queja.categoriaAutomatica.imagen }}" class="img-rounded img-responsive">
                                <span style="font-size: 75%;">{{ queja.categoriaAutomatica.nombre }}</span>
                            </td>
                        {% endif %}
                        <td class="text-center">
                            <div style="margin:2px;"><a class='btn btn-info btn-xs' href="/quejas/{{queja.id}}/"><span class="glyphicon glyphicon-eye-open"> </span> Ver M&#225;s</a></div>
                            <!-- Bot&#243;n Editar/Eliminar Queja: solo si es ciudadano, es su queja y sigue abierta -->
                            {% if actor == 'Ciudadano' and queja.ciudadano == usuario.actor.ciudadano and queja.estado == 'Abierta' %} 
                            <div style="margin:2px;"><a class='btn btn-warning btn-xs' href="{% url 'editarQueja' queja.id %}"><span class="glyphicon glyphicon-edit">&nbsp; </span> Editar</a></div>
                            <div style="margin:2px;"><a class='btn btn-danger btn-xs' onclick="return confirmaAccion('elimina-queja')" href="{% url 'eliminarQueja' queja.id %}"><span class="glyphicon glyphicon-trash">&nbsp; </span> Eliminar</a></div>
                            <!-- Bot&#243;n Eliminar Queja si es administrador -->
                            {% elif actor == 'Administrador' %}
                            <div style="margin:2px;"><a class='btn btn-danger btn-xs' href="/admin/quejas/queja/{{queja.id}}/delete/"><span class="glyphicon glyphicon-trash">&nbsp; </span> Eliminar</a></div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'app/scripts/utils.js' %}"></script>

{% endblock %}
