{% extends "app/layout.html" %}

<!-- CONTENIDO -->
{% block content %}

<div class="jumbotron">
    <h1>&#161;Alcalde, Esc&#250;chame!</h1>
    <p class="lead">&#161;Alcalde, Esc&#250;chame! es una plataforma web totalmente independiente y gratuita para la denuncia ciudadana cuyo objetivo es acelerar los 
    procesos necesarios para la resoluci&#243;n de las quejas que los usuarios puedan tener asegurando que estas llegan a los terceros involucrados en el menor tiempo posible.
    </p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seguridad</h2>
        <p>
            Cualquier persona puede revelar informaci&#243;n de inter&#233;s de forma segura y bajo la garant&#237;a de que esta
            llega a todos los involucrados: tanto ciudadanos como funcionarios de la administraci&#243;n p&#250;blica con la capacidad 
            necesaria resolverlas.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rapidez</h2>
        <p>Los procesos de denuncia p&#250;blica son lentos y costosos para el ciudadano. &#161;Alcalde, Esc&#250;chame! ofrece la
        posibilidad de agilizar estos procesos mediante la interacci&#243;n colaborativa de sus usuarios entre los que se incluyen 
        funcionarios de la administraci&#243;n p&#250;blica.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Repercusi&#243;n</h2>
        <p>La publicaci&#243;n en la red de estas quejas garantizan su m&#225;xima difusi&#243;n ya que quedan al alcance de los distintos
        medios de comunicaci&#243;n y organizaciones civiles con capacidad para ampliar el impacto de las mismas a nivel medi&#225;tico.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
