<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }} - ¡Alcalde, escúchame!</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'app/favicon.ico' %}"/>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <!-- Bloque para CSS espec&#237;fico de algunas plantillas -->
    {% block styles %}
    {% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">¡ Alcalde, escúchame !</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quejas</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'quejas' %}">Últimas Quejas</a></li>
                            <!-- Solo para ciudadanos -->
                            {% if user.actor.ciudadano %}
                            <li class="divider"></li>
                            <li><a href="{% url 'quejasPropias' %}">Mis Quejas</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'nuevaQueja' %}">Publicar Queja</a></li>
                            <!-- Solo para funcionarios -->
                            {% elif user.actor.funcionario %}
                            <li class="divider"></li>
                            <li><a href="{% url 'quejasTramitables' %}">Quejas Asignadas</a></li>
                            {% endif %}
                        </ul>
                    </li>                    
                    <li><a href="{% url 'categorias' %}">Categorías</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Corpus</a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/corpus/entradacorpus/">Entradas Corpus</a></li>
                            <li><a href="{% url 'verModeloCorpus' %}">Ver Modelo</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/usuarios/funcionario/">Funcionarios</a></li>
                    {% endif %}
                </ul>
                <!-- Buscador de quejas -->
                {% include 'buscador.html' %}
                <!-- Inicio/Cierre de sesión -->
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        <!-- CONTENIDO PROPIO DE LA VISTA -->
        {% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - ¡Alcalde, escúchame!</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <!-- SCRIPTS PROPIOS DE LA VISTA -->
    {% block scripts %}{% endblock %}

</body>
</html>
